<div class="card mb-4 shadow-sm" style="height: 500px;">
  <img class="card-img-top" src="{{ product.image }}" alt="Card image cap" style="height: 300px;">
  <div class="card-body">
    <h5 class="card-title">{{ product.title | slice: 0:25 }}</h5>
    <p class="card-text">{{ product.description | slice: 0:50 }}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a [routerLink]="['/products' , product.id]" class="btn btn-sm btn-outline-secondary">View</a>
        <button *ngIf="!inCart" type="button" class="btn btn-sm btn-outline-secondary" (click)="addProductToCart(product)">Add to Cart</button>
        <button *ngIf="inCart" type="button" class="btn btn-sm btn-outline-secondary" (click)="decreaseQuantity(product)">-</button>
        <p *ngIf="inCart" class="mr-2 ml-2">{{ product.quantity }}</p>
        <button *ngIf="inCart" type="button" class="btn btn-sm btn-outline-secondary" (click)="increaseQuantity(product)">+</button>
      </div>
      <small class="text-muted">{{ product.price | currency:"EGP" }}</small>
    </div>
  </div>
</div>
